<!-- Prism CSS -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>App Rene</title>

    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-table-master/dist/bootstrap-table.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/nav_sidebar.css' %}">


    <script src="{% static 'jquery-3.5.1.js' %}"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm py-1 navbar-dark bg-dark">
      <a href="/admin" class="navbar-brand">App Rene Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav">
            {% if 'Ejecutivos' in permisos %}
              <li class="navbar active">
                <a class="nav-link" href="/gestion"><span class="mb-0 h6">Gestión</span></a>
              </li>
            {% elif 'Asistentes' in permisos %}
              <li class="navbar active">
                <a class="nav-link" href="/gestion"><span class="mb-0 h6">Gestión</span></a>
              </li>
            {% endif %}
            {% if 'Asesores' in permisos %}

              <li class="navbar active">
                <a class="nav-link" href="/contrapartes"><span class="mb-0 h6">Asignación de Contrapartes</span></a>
              </li>
              <li class="navbar active">
                <a class="nav-link" href="/asignador_de_cartera"><span class="mb-0 h6">Asignación de Cartera</span></a>
              </li>
              
              <li class="navbar active">
                <a class="nav-link" href="/distribucion_de_gestion"><span class="mb-0 h6">Exportar Asignacion (Excel)</span></a>
              </li>
              
              <li class="navbar active">
                <a class="nav-link" href="/consolidado_gestion"><span class="mb-0 h6">Consolidado de Gestión</span></a>
              </li>
            {% endif %}
              <li class="navbar">
                <form method = "GET" class="form-inline" action="/info_clientes/?q={{cliente.cli_rut}}">
                  <input name="q" class="form-control mr-sm-1" type="search" placeholder="Búsqueda por RUT..." aria-label="Search">
                  <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
                </form>
              </li>
          </ul>
      </div>
      <span class="navbar-text">
        {{ user_instance.first_name }} {{ user_instance.last_name }}
      </span>
    </nav>

<div class="container">
{% block content %}
{% endblock %}
</div>
<footer>
  <p>Soporte: Yeremy Aguilera</p>
  <p><a href="mailto:yaguile1@microempresas.bancoestado.cl">yaguile1@microempresas.bancoestado.cl</a></p>
</footer>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-table-master/dist/bootstrap-table.min.js' %}"></script>

</body>
</html>