{% extends 'personas_beme/base.html' %}

{% load my_filters %}
{% block content %}
    <table id="tabla_gestion" class="display">
        <thead>
        <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Impacto en el Gasto</th>
            <th>Operaciones</th>
            <th>Gestor</th>
        </tr>
        </thead>
        <tbody>
        {% for cliente in info_tabla %}  
            <tr>
            <td><a href="/info_clientes/?q={{cliente.cli_rut}}">{{cliente.cli_rut}}</a></td>
            <td>{{cliente.cli_nom}}</td>
            <td>{{cliente.impacto_gasto|currency}}</td>
            <td>{{cliente.impactooperacion.cant_ope}}</td>
            <td>{{cliente.gestor}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>$(document).ready( function () {
        $('#tabla_gestion').DataTable();
    } );</script>

{% endblock %}