{% extends 'personas_beme/base.html' %}
{% load my_filters %}
{{ form.media }}
{% block content %}

  {% if info_cliente %}
    <p><strong><h5>Cliente</h5></strong></p>

    <div class="row">
      
      <div class="col s10 m8 l6">
        <table id="vertical-1">
          <tr>
              <th>Nombre : </th>
              <td>{{info_cliente.cli_nom}}</td>
          </tr>
          <tr>
              <th>Rut : </th>
              <td>{{info_cliente.cli_rut}}</td>
          </tr>
          <tr>
              <th>Número Fijo 1 : </th>
              <td>{{info_cliente.tel_fijo_1|telefono_fijo}}</td>
          </tr>
          <tr>
              <th>Número Fijo 2 : </th>
              <td>{{info_cliente.tel_fijo_2|telefono_fijo}}</td>
          </tr>
          <tr>
              <th>Número Móvil 1 : </th>
              <td>{{info_cliente.tel_cel_1|celular}}</td>
          </tr>
          <tr>
              <th>Número Móvil 2 : </th>
              <td>{{info_cliente.tel_cel_2|celular}}</td>
          </tr>
          <tr>
              <th>Direccion Particular : </th>
              <td>{{info_cliente.direccion_particular}}</td>
          </tr>
          <tr>
              <th>Direccion Comercial : </th>
              <td>{{info_cliente.direccion_comercial}}</td>
          </tr>
          <tr>
              <th>Email : </th>
              <td>{{info_cliente.email}}</td>
          </tr>
          <tr>
              <th>Estado : </th>
              <td>{{info_cliente.estado_diario}}</td>
          </tr>
          <tr>
              <th>Preaprobado Renegociación : </th>
              <td>{{info_cliente.renegociacion_preaprobada}}</td>
          </tr>
          <tr>
              <th>Gestor : </th>
              <td>{{info_cliente.gestor}}</td>
          </tr>
          <tr>
              <th>Fecha asignación gestor : </th>
              <td>{{info_cliente.fecha_asignacion_gestor|date:"d M, Y"}}</td>
          </tr>
          <tr>
            <th>Postergación Cargada Hoy : </th>
            <td>{{info_cliente.postergacion_cargada_hoy}}</td>
          </tr>
          <tr>
            <th>Canal Postergación Hoy : </th>
            <td>{{info_cliente.canal_postergacion_hoy}}</td>
          </tr>
          <tr>
            <th>Inscrito Formulario WEB : </th>
            <td>{{info_cliente.inscrito_formulario_web}}</td>
          </tr>
          <tr>
            <th>Renegociacion WEB Disponible : </th>
            <td>{{info_cliente.renegociacion_web_disponible}}</td>
          </tr>
          <tr>
            <th>Oferta Simulador Riesgo : </th>
            <td>{{info_cliente.oferta_simulador_riesgo}}</td>
          </tr>
          <tr>
            <th>Posee Operaciones con Aval : </th>
            <td>{{info_cliente.posee_operaciones_con_aval}}</td>
          </tr>
          <tr>
            <th>Campaña Capital COVID : </th>
            <td>{{info_cliente.campana_capital_covid}}</td>
          </tr>
          <tr>
            <th>Campaña Postergacion Preferencial : </th>
            <td>{{info_cliente.campana_postergacion_preferencial}}</td>
          </tr>
        </table>
      </div>
      <div class="col s10 m8 l6">
        {% if info_cliente.gestor.codigo_persona_beme != user_instance.username%}
          <form action="" method="POST">{% csrf_token %}
            <table id="vertical-1">
              <tr>
                  <th>Fecha gestión : </th>
                  <td>{{info_cliente.fecha_registro|date:"d M, Y"}}</td>
              </tr>
              <tr>
                  <th>Contactabilidad : </th>
                  <td>{{info_cliente.contactabilidad}}</td>
              </tr>
              <tr>
                  <th>Respuesta cliente : </th>
                  <td>{{info_cliente.respuesta_cliente}}</td>
              </tr>
              <tr>
                  <th>Estado Negociación : </th>
                  <td>{{info_cliente.estado_negociacion}}</td>
              </tr>
              <tr>
                  <th>Observación : </th>
                  <td>{{info_cliente.observacion}}</td>
              </tr>
            </table>
            <p> </p>
             <input type="hidden" id="cli_rut" name="cli_rut" value={{info_cliente.cli_rut}}>
          </form>
        {% else %}
          <form action="" method="POST">{% csrf_token %}
                <table>
                    {{ excel_form }}
                </table>
                <input class="btn btn-info btn-sm pull-left active" name="excel_button" type="submit" style="width:auto" value="Guardar Cambios">
          </form>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if info_cliente.oferta_simulador_riesgo == 'SI' %}
    {% include "personas_beme/info_clientes_simulador.html" %}
  {% else %}
    <p><strong><h5>Este Cliente no posee Ofertas en el Simulador</h5></strong>
  {% endif %}

{% endblock%}