{% extends 'personas_beme/base.html' %}
{% load my_filters %}
{{ form.media }}
{% block content %}

  {% if info_cliente %}
    <p><strong><h5>Cliente</h5></strong></p>

    <div class="row">
      
      <div class="col s10 m8 l6">
        <table id="vertical-1">
          <tr>
              <th>Nombre : </th>
              <td>{{info_cliente.cli_nom}}</td>
          </tr>
          <tr>
              <th>Rut : </th>
              <td>{{info_cliente.cli_rut}}</td>
          </tr>
          <tr>
              <th>Número Fijo 1 : </th>
              <td>{{info_cliente.tel_fijo_1|telefono_fijo}}</td>
          </tr>
          <tr>
              <th>Número Fijo 2 : </th>
              <td>{{info_cliente.tel_fijo_2|telefono_fijo}}</td>
          </tr>
          <tr>
              <th>Número Móvil 1 : </th>
              <td>{{info_cliente.tel_cel_1|celular}}</td>
          </tr>
          <tr>
              <th>Número Móvil 2 : </th>
              <td>{{info_cliente.tel_cel_2|celular}}</td>
          </tr>
          <tr>
              <th>Direccion Particular : </th>
              <td>{{info_cliente.direccion_particular}}</td>
          </tr>
          <tr>
              <th>Direccion Comercial : </th>
              <td>{{info_cliente.direccion_comercial}}</td>
          </tr>
          <tr>
              <th>Estado : </th>
              <td>{{info_cliente.estado_diario}}</td>
          </tr>
          <tr>
              <th>Preaprobado Renegociación : </th>
              <td>{{info_cliente.preaprobados_reng|bolean_to_value}}</td>
          </tr>
          <tr>
              <th>Gestor : </th>
              <td>{{info_cliente.gestor}}</td>
          </tr>
          <tr>
            <th>Canal CCL : </th>
            <td>{{info_cliente.canal_ccl}}</td>
          </tr>
          <tr>
            <th>Canal WEB : </th>
            <td>{{info_cliente.canal_web}}</td>
          </tr>
          {% if info_cliente.gestor.codigo_persona_beme != persona_instance.codigo_persona_beme%}
          <tr>
            <th>Elección Oferta: </th>
            <td>{{info_cliente.eleccion_oferta}}</td>
          </tr>
          {%else%}
          <tr>
            <th>Elección Oferta: </th>
            <td><form action="" method="POST">{% csrf_token %}
                {{db_form.eleccion_oferta}}
                <input class="btn btn-info btn-sm pull-left active" name="db_button" type="submit" style="width:auto" value="Guardar Cambios">
                <input type="hidden" id="cli_rut" name="cli_rut" value={{info_cliente.cli_rut}}>
                </form></td>
          </tr>
          {% endif %}
        </table>
      </div>

      <div class="col s10 m8 l6">
        {% if info_cliente.gestor.codigo_persona_beme != persona_instance.codigo_persona_beme%}
          <table id="vertical-1">
            <tr>
                <th>Fecha asignación : </th>
                <td>{{info_cliente.fecha_asignacion|date:"d M, Y"}}</td>
            </tr>
            <tr>
                <th>Fecha gestión : </th>
                <td>{{info_cliente.fecha_gestion|date:"d M, Y"}}</td>
            </tr>
            <tr>
                <th>Contactabilidad : </th>
                <td>{{info_cliente.contactabilidad}}</td>
            </tr>
            <tr>
                <th>Respuesta cliente : </th>
                <td>{{info_cliente.respuesta_cliente}}</td>
            </tr>
            <tr>
                <th>Estado : </th>
                <td>{{info_cliente.estado}}</td>
            </tr>
            <tr>
                <th>Fecha reinsistencia : </th>
                <td>{{info_cliente.fecha_reinsistencia|date:"d M, Y"}}</td>
            </tr>
            <tr>
                <th>Contacto cliente interesado : </th>
                <td>{{info_cliente.contacto_cliente_interesado}}</td>
            </tr>
            <tr>
                <th>Estado cliente : </th>
                <td>{{info_cliente.estado_cliente}}</td>
            </tr>
          </table>
          <p> </p>

          <form action="" method="POST">{% csrf_token %}
            <table>
              <tr>
                <th>Fecha firma : </th>
                <td>{{ excel_form.fecha_firma }}</td>
              </tr>
              <tr>
                <th>Estado curse : </th>
                <td>{{ excel_form.estado_curse }}</td>
              </tr>
            </table>
            <input class="btn btn-info btn-sm pull-left active" name="excel_button" type="submit" style="width:auto" value="Guardar Cambios">
            <input type="hidden" id="cli_rut" name="cli_rut" value={{info_cliente.cli_rut}}>
          </form>
        {% else %}
          <form action="" method="POST">{% csrf_token %}
                <table>
                    {{ excel_form }}
                </table>
                <input class="btn btn-info btn-sm pull-left active" name="excel_button" type="submit" style="width:auto" value="Guardar Cambios">
          </form>
        {% endif %}
      </div>  
    </div>
  {% endif %}
  {% if info_cliente.disponibilidad_oferta == True %}
    {% include "personas_beme/info_clientes_simulador.html" %}
  {% else %}
    <p><strong><h5>Este Cliente no posee Ofertas en el Simulador</h5></strong>
  {% endif %}

{% endblock%}